/* Global Selector */
* {
    /* CSS Resetting */
    margin: 0;
    padding: 0;
    
}


/* Tag Selector */
h1, label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: blue;
}

/* Id Selector */
#login {

    color: blue;
}


/* Class Selector */
.form-input {

    padding: 10px 20px;
}

/* menu code  */
li{

    list-style: none;
}
nav{ 

    display: flex;
    background-color: rgb(28, 186, 186);
    justify-content: right;
    
}
nav>div {
    padding: 20px;
}
nav>div>ul{

    display: flex;
    gap: 20px; 
    text-decoration: none;


}
nav>div>h1{

    justify-content: left;
}
nav>div>li:hover{

    text-decoration:underline;
    cursor: pointer;


}
/* menu code end */

